### Realizando a conexão com o MongoDB

In [46]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from dotenv import load_dotenv
import os

load_dotenv()

db_password = os.getenv("DB_PASSWORD")

uri = f"mongodb+srv://julianasvieira:{db_password}@cluster-pipeline.4emxp.mongodb.net/?retryWrites=true&w=majority&appName=Cluster-pipeline"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

## Lendo os dados no MongoDB

In [47]:
db = client["db_produtos"]
collection = db["produtos"]

In [48]:
print(collection.find_one())

{'_id': ObjectId('67377dd17c7feba07c385d71'), 'Produto': 'Modelagem preditiva', 'Categoria do Produto': 'livros', 'Preço': 92.45, 'Frete': 5.6096965236, 'Data da Compra': '01/01/2020', 'Vendedor': 'Thiago Silva', 'Local da compra': 'BA', 'Avaliação da compra': 1, 'Tipo de pagamento': 'cartao_credito', 'Quantidade de parcelas': 3, 'lat': -13.29, 'lon': -41.71}

### Alterando os nomes dos campos de latitude e longitude

In [49]:
collection.update_many({}, {"$rename" : {"lat" : "Latitude", "lon" : "Longitude"}})

UpdateResult({'n': 9435, 'electionId': ObjectId('7fffffff0000000000000026'), 'opTime': {'ts': Timestamp(1731689982, 3597), 't': 38}, 'nModified': 9435, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1731689982, 3597), 'signature': {'hash': b'b|\x88\x8f\xc3\x91D\xcf\xebJ\xc1\x93\x83@>\xb5\x17M/\xe4', 'keyId': 7377393757299146754}}, 'operationTime': Timestamp(1731689982, 3597), 'updatedExisting': True}, acknowledged=True)

In [50]:
collection.find_one()

{'_id': ObjectId('67377dd17c7feba07c385d71'),
 'Produto': 'Modelagem preditiva',
 'Categoria do Produto': 'livros',
 'Preço': 92.45,
 'Frete': 5.6096965236,
 'Data da Compra': '01/01/2020',
 'Vendedor': 'Thiago Silva',
 'Local da compra': 'BA',
 'Avaliação da compra': 1,
 'Tipo de pagamento': 'cartao_credito',
 'Quantidade de parcelas': 3,
 'Latitude': -13.29,
 'Longitude': -41.71}

## Aplicando transformações: filtrando registros da categoria livros

Agora, vamos executar uma consulta para obter apenas os dados relacionados à categoria **livros**.

In [51]:
collection.distinct("Categoria do Produto")

['brinquedos',
 'eletrodomesticos',
 'eletronicos',
 'esporte e lazer',
 'instrumentos musicais',
 'livros',
 'moveis',
 'utilidades domesticas']

In [52]:
query = {"Categoria do Produto" : "livros"}
lista_livros = []

for doc in collection.find(query):
    #print(doc)
    lista_livros.append(doc)

In [53]:
# lista_livros

In [54]:
import pandas as pd

In [55]:
df_livros = pd.DataFrame(lista_livros)
df_livros.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longitude
0,67377dd17c7feba07c385d71,Modelagem preditiva,livros,92.45,5.609697,01/01/2020,Thiago Silva,BA,1,cartao_credito,3,-13.29,-41.71
1,67377dd17c7feba07c385d72,Iniciando em programação,livros,43.84,0.000000,01/01/2020,Mariana Ferreira,SP,5,cartao_credito,1,-22.19,-48.79
2,67377dd17c7feba07c385d84,Iniciando em programação,livros,63.25,3.894137,01/01/2022,Juliana Costa,RJ,5,cartao_credito,4,-22.25,-42.66
3,67377dd17c7feba07c385d92,Ciência de dados com python,livros,86.13,5.273176,01/02/2021,Camila Ribeiro,RJ,4,cartao_credito,3,-22.25,-42.66
4,67377dd17c7feba07c385d94,Ciência de dados com python,livros,72.75,1.458158,01/02/2021,Beatriz Moraes,PR,4,cartao_credito,2,-24.89,-51.55

## Formatando as datas

Para adicionar dados do tipo DATE em um banco de dados MySQL, é necessário que a data esteja no formato **%Y-%m-%d (ano-mês-dia)**. Portanto, realizaremos uma transformação na coluna "Data da Compra" para ajustá-la a esse formato. Dessa forma, poderemos armazenar corretamente as datas no banco de dados MySQL, garantindo consistência e facilitando consultas baseadas em datas posteriormente.

In [56]:
df_livros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     742 non-null    object
 1   Produto                 742 non-null    object
 2   Categoria do Produto    742 non-null    object
 3   Preço                   742 non-null    float64
 4   Frete                   742 non-null    float64
 5   Data da Compra          742 non-null    object
 6   Vendedor                742 non-null    object
 7   Local da compra         742 non-null    object
 8   Avaliação da compra     742 non-null    int64
 9   Tipo de pagamento       742 non-null    object
 10  Quantidade de parcelas  742 non-null    int64
 11  Latitude                742 non-null    float64
 12  Longitude               742 non-null    float64
dtypes: float64(4), int64(2), object(7)
memory usage: 75.5+ KB

In [57]:
df_livros["Data da Compra"] = pd.to_datetime(df_livros["Data da Compra"], format = "%d/%m/%Y")
df_livros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     742 non-null    object
 1   Produto                 742 non-null    object
 2   Categoria do Produto    742 non-null    object
 3   Preço                   742 non-null    float64
 4   Frete                   742 non-null    float64
 5   Data da Compra          742 non-null    datetime64[ns]
 6   Vendedor                742 non-null    object
 7   Local da compra         742 non-null    object
 8   Avaliação da compra     742 non-null    int64
 9   Tipo de pagamento       742 non-null    object
 10  Quantidade de parcelas  742 non-null    int64
 11  Latitude                742 non-null    float64
 12  Longitude               742 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 75.5+ KB

In [58]:
df_livros["Data da Compra"] = df_livros["Data da Compra"].dt.strftime("%Y-%m-%d")
df_livros.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longitude
0,67377dd17c7feba07c385d71,Modelagem preditiva,livros,92.45,5.609697,2020-01-01,Thiago Silva,BA,1,cartao_credito,3,-13.29,-41.71
1,67377dd17c7feba07c385d72,Iniciando em programação,livros,43.84,0.000000,2020-01-01,Mariana Ferreira,SP,5,cartao_credito,1,-22.19,-48.79
2,67377dd17c7feba07c385d84,Iniciando em programação,livros,63.25,3.894137,2022-01-01,Juliana Costa,RJ,5,cartao_credito,4,-22.25,-42.66
3,67377dd17c7feba07c385d92,Ciência de dados com python,livros,86.13,5.273176,2021-02-01,Camila Ribeiro,RJ,4,cartao_credito,3,-22.25,-42.66
4,67377dd17c7feba07c385d94,Ciência de dados com python,livros,72.75,1.458158,2021-02-01,Beatriz Moraes,PR,4,cartao_credito,2,-24.89,-51.55

In [59]:
df_livros.to_csv("../data/tabela_livros.csv", index = False)

## Aplicando transformações: filtrando produtos vendidos a partir de 2021

Nessa etapa, faremos uma query para selecionar apenas os produtos vendidos a partir do ano de 2021. Utilizaremos um filtro na coluna de data de compra para obter os registros que atendam a essa condição.

In [60]:
collection.find_one()

{'_id': ObjectId('67377dd17c7feba07c385d71'),
 'Produto': 'Modelagem preditiva',
 'Categoria do Produto': 'livros',
 'Preço': 92.45,
 'Frete': 5.6096965236,
 'Data da Compra': '01/01/2020',
 'Vendedor': 'Thiago Silva',
 'Local da compra': 'BA',
 'Avaliação da compra': 1,
 'Tipo de pagamento': 'cartao_credito',
 'Quantidade de parcelas': 3,
 'Latitude': -13.29,
 'Longitude': -41.71}

In [61]:
query  = {"Data da Compra" : {"$regex" : "/202[1-9]"}}
lista_produtos = []

for doc in collection.find(query):
    lista_produtos.append(doc)

In [62]:
# lista_produtos

In [63]:
df_produtos = pd.DataFrame(lista_produtos)
df_produtos.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longitude
0,67377dd17c7feba07c385d7a,Xadrez de madeira,brinquedos,25.23,0.000000,01/01/2021,Thiago Silva,BA,5,cartao_credito,2,-13.29,-41.71
1,67377dd17c7feba07c385d7b,Impressora,eletronicos,322.04,14.732100,01/01/2021,João Souza,SP,3,cartao_credito,1,-22.19,-48.79
2,67377dd17c7feba07c385d7c,Mesa de centro,moveis,282.22,12.611805,01/01/2021,João Souza,SP,3,boleto,1,-22.19,-48.79
3,67377dd17c7feba07c385d7d,Tablet ABXY,eletronicos,1100.42,68.451348,01/01/2021,Beatriz Moraes,SP,1,cupom,1,-22.19,-48.79
4,67377dd17c7feba07c385d7e,Fogão,eletrodomesticos,791.81,42.444626,01/01/2021,Juliana Costa,SP,4,boleto,1,-22.19,-48.79

### Formatando as datas

In [64]:
df_produtos["Data da Compra"] = pd.to_datetime(df_produtos["Data da Compra"], format = "%d/%m/%Y")
df_produtos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     6574 non-null   object
 1   Produto                 6574 non-null   object
 2   Categoria do Produto    6574 non-null   object
 3   Preço                   6574 non-null   float64
 4   Frete                   6574 non-null   float64
 5   Data da Compra          6574 non-null   datetime64[ns]
 6   Vendedor                6574 non-null   object
 7   Local da compra         6574 non-null   object
 8   Avaliação da compra     6574 non-null   int64
 9   Tipo de pagamento       6574 non-null   object
 10  Quantidade de parcelas  6574 non-null   int64
 11  Latitude                6574 non-null   float64
 12  Longitude               6574 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 667.8+ KB

In [65]:
df_produtos["Data da Compra"] = df_produtos["Data da Compra"].dt.strftime("%Y-%m-%d")
df_produtos.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longitude
0,67377dd17c7feba07c385d7a,Xadrez de madeira,brinquedos,25.23,0.000000,2021-01-01,Thiago Silva,BA,5,cartao_credito,2,-13.29,-41.71
1,67377dd17c7feba07c385d7b,Impressora,eletronicos,322.04,14.732100,2021-01-01,João Souza,SP,3,cartao_credito,1,-22.19,-48.79
2,67377dd17c7feba07c385d7c,Mesa de centro,moveis,282.22,12.611805,2021-01-01,João Souza,SP,3,boleto,1,-22.19,-48.79
3,67377dd17c7feba07c385d7d,Tablet ABXY,eletronicos,1100.42,68.451348,2021-01-01,Beatriz Moraes,SP,1,cupom,1,-22.19,-48.79
4,67377dd17c7feba07c385d7e,Fogão,eletrodomesticos,791.81,42.444626,2021-01-01,Juliana Costa,SP,4,boleto,1,-22.19,-48.79

In [66]:
df_produtos.to_csv("../data/tabela_2021_em_diante.csv", index = False)

In [67]:
client.close()